header {
    padding: 17px; 
    background: #4aaaa5;
    width: 180px;
    text-align: center;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    border-bottom: solid 1px;
    border-bottom-color: #cccccc; 
    line-height: 150%;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background: #ffffff;
    height: 70px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;   
}

header {
    padding: 17px; 
    background: #4aaaa5;
    width: 180px;
    text-align: center;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    border-bottom: solid 1px;
    border-bottom-color: #cccccc; 
    line-height: 150%;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background: #ffffff;
    height: 70px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;   
}
    
li {
    float: left;
}
    
.pageLinks {
    display: block;
    padding: 20px;
    background-color: #ffffff;
}



.textArea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

.icon {
    margin: 5px;
    float: left;
}

/* media quiries */

@media screen and (max-width: 768px){ .wrapper {
    width: 600px;
    float: right;
}
}

@media screen and (max-width: 980px){ .wrapper {
    width: 800px;
    float:left;
}
}

@media screen and (max-width: 640px){ .wrapper {
    width: 500px;
    float:left;
}
}

