.content {
    width: 900px;
}

.content div{
    float: left;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

.banner {
    padding: 10px; 
    background: #4aaaa5;
    width: 200px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    line-height: 150%;
    font-size: 24px;
    font-weight: bold;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.content {
    width: 900px;
}

.content div{
    float: left;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

.banner {
    padding: 10px; 
    background: #4aaaa5;
    width: 181px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    line-height: 150%;
    font-size: 24px;
    font-weight: bold;
}

.img{
    position: relative;
    margin: 10px;
}

.centered {
    position: absolute;
    top: 86%;
    left: 48%;
    transform: translate(-50%, -50%);
}
    
/* media quiries */

@media screen and (max-width: 980px){ .wrapper {
    width: 600px;
    float:left;
}
}

@media screen and (max-width: 980px){ .content {
    width: 400px;
    float:left;
}
}

@media screen and (max-width: 768px){ .wrapper {
    width: 400px;
    float:left;
}
}

@media screen and (max-width: 640px){ .wrapper {
    width: 500px;
    float:left;
}
}